*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
}

/* Icon Fonts
*********************************/
/* Font-face Icons */
@font-face {
    font-family: 'flexslider-icon';
    src:url('../fonts/flexslider-icon.eot');
    src:url('../fonts/flexslider-icon.eot?#iefix') format('embedded-opentype'),
    url('../fonts/flexslider-icon.woff') format('woff'),
    url('../fonts/flexslider-icon.ttf') format('truetype'),
    url('../fonts/flexslider-icon.svg#flexslider-icon') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*custom main*/
#main{
    padding-bottom: 15px;
}

/* custom container */
.custom-container{
    width: 960px;
    height: auto;
    margin: 0 auto;
    padding-top: 60px;
    /*background-color: yellow;*/
    /*box-shadow: 5px 5px 5px #FF8C00;*/
    box-shadow: 5px 0 8px -4px #e53d00, -5px 0 8px -4px #e53d00;
    position: relative;
}


/* applied in slider */
.custom-flexslider{
    max-width: 600px;
    margin: 0 auto;
}

.slider-max-height-width{
    max-height: 400px;
}

.slider-image{
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.slider-image-li{
    height: inherit;
    width: inherit;
    position: relative;
    overflow: hidden;
}

/* original code for caption */
.flex-caption {
    width: 96%;
    padding: 2%;
    left: 0;
    bottom: 0;
    background: rgba(0,0,0,.5);
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,.3);
    font-size: 14px;
    line-height: 18px;
}

/* custom code for flex-caption */
.custom-flex-caption{
    background: #e53d00;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,.3);
    font-size: 14px;
    font-weight: bold;
    line-height: 18px;
}

/* header */
.header-class{
    width: 800px;
    height: auto;
    position: relative;
    margin: 0 auto;
    padding: 2px 0;
}

/*logo*/
.logo{
    margin: 0 auto;
    width: 100%;
}

/*login bar*/
.login-bar{
    position: fixed;
    height: auto;
    width: 100%;
    background-color: #e53d00;
    margin-bottom: 15px;
    z-index: 1;
}
/*login section*/
.login-section{
    width: 960px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
/*login span*/
.login-span{
    margin-top: 2px;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding: 0;
    float: right;
    color: white;
    font-size: 14px;
    font-weight: 900;
}
.input-fields{
    color: black;
    font-weight: 400;
    padding: 3px;
    border-radius: 3px;
    border: none;
}
.login-button{
    color:white;
    font-weight: 900;
    background-color: #e53d00;
    box-shadow: 5px 0 5px -4px black, -5px 0 5px -4px black;
    border: none;
    padding: 6px;
    border-radius: 5px;
    cursor: pointer;
}
.login-section a{
    float: right;
    color: white;
    list-style-type: none;
    font-weight: 400;
}
fieldset{
    margin-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: none;
}

/* navigation-container */
.navigation-container{
    bottom: 8px;
    position: absolute;
    height: auto;
    width: 100%;
}
.nav-section{
    width: 960px;
    height: auto;
    margin: 0 auto;
}
.nav-ul{
    list-style-type: none;
    margin-left: 120px;
}
.nav-ul li a{
    color: white;
    font-size: 16px;
    list-style-type: none;
    text-decoration: none;
}
.category-button{
    background-color: black;
    transition: background-color 0.3s ease-in-out;
    padding-top: 5px;
    padding-left: 8px;
    padding-bottom: 5px;
    padding-right: 8px;
    float: left;
    margin: 0 5px;
    box-shadow: 4px 0 5px -4px #e53d00, -4px 0 5px -4px #e53d00;
    border-radius: 3px;
    /*border-radius: 5px;*/
}
.category-button:hover {
    background-color: #e53d00;
    border-radius: 3px;
    font-size: 105%;
    font-weight: bold;
    /*font-size: 105%;
    font-weight: 800;
    padding: 6px;
    box-shadow: 5px 0 8px -4px #e53d00, -5px 0 8px -4px #e53d00;*/
}
/*.stick { do not delete this portion and associated js
    position:fixed;
    bottom: 0px;
}*/

/* product posting button */
.post-product{
    background-color: black;
    box-shadow: 4px 0 6px -4px white, -4px 0 6px -4px white;
    border: none;
    margin: 10px;
    padding-top: 5px;
    padding-left: 8px;
    padding-bottom: 5px;
    padding-right: 8px;
    border-radius: 5px;
    cursor: pointer;
    float: left;
}
.post-product a{
    text-decoration: none;
    font-weight: 700;
    color: white;
}

/************************* DEMO WELCOME PAGE *****************************/

/*logout span*/
.logout-span{
    margin-top: 5px;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding: 0;
    float: right;
}
/* logout button */
.logout-button{
    background-color: #e53d00;
    box-shadow: 5px 0 5px -4px black, -5px 0 5px -4px black;
    border: none;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    float: right;
}

.logout-button a{
    font-size: 12px;
    text-decoration: none;
    color:white;
    font-weight: bold;
}
/* create new account link*/
.create-new-account{
    font-size: 14px;
    color: white;
}

/* left right container*/
.left-right-container{
    height: auto;
    width: inherit;
    position: relative;
    clear: both;
}

/* right side div container */
.right-container{
    float: left;
    position: relative;
    height: auto;
    margin-left: 60px;
    margin-top: 30px;
    width: 600px;
    border-top: 1px solid #e53d00;
}

/* clear float */
.clear{
    clear: both;
}

/* left side div container */
.left-container{
    margin-left: 10px;
    margin-top: 20px;
    height: auto;
    width: 220px;
    position: relative;
    float: left;
}

/* welcome container */
.welcome-custom-container{
    position: relative;
    width: 960px;
    height: auto;
    margin: 60px auto 0 auto;
    box-shadow: 5px 0 8px -4px #e53d00, -5px 0 8px -4px #e53d00;
}

/* welcome-navigation-container */
.welcome-navigation-container{
    height: auto;
    width: inherit;
    position: relative;
}
.all-category{
    color: #eeeeee;
    margin: 0 0 10px 10px;
    position: relative;
}

.welcome-nav-ul{
    list-style-type: none;
    width: inherit;
    height: auto;
    position: relative;
}
.welcome-nav-ul li{
    width: 100%;
    height: auto;
    position: relative;
}
.welcome-nav-ul li a{
    color: white;
    font-size: 16px;
    list-style-type: none;
    text-decoration: none;
    width: inherit;
    display: block;
    position: relative;
}
.welcome-category-button{
    height: auto;
    width: auto;
    background-color: black;
    transition: background-color 0.3s ease-in-out;
    padding-top: 5px;
    padding-left: 8px;
    padding-bottom: 5px;
    padding-right: 8px;
    float: left;
    margin: 5px;
    box-shadow: 4px 0 8px -4px #e53d00, -4px 0 8px -4px #e53d00;
    /*border-radius: 5px;*/
}
.welcome-category-button:hover{
    background-color: #e53d00;
    box-shadow: 4px 0 8px -4px #e53d00, -4px 0 8px -4px #e53d00;
}
.filter-form{
    margin-left: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 900;
    position: relative;
}
.go-button{
    color: white;
    font-weight: bold;
}
.label-color{
    color: #eeeeee;
}
.filter-class{
    width: 160px;
    background-color: #e53d00;
    color: white;
    padding: 4px;
    font-weight: 400;
    font-size: 14px;
    border: 1px solid #e53d00;
    border-radius: 3px;
}
hr{
    border: 1px solid #e53d00;
    margin-left: 10px;
    margin-bottom: 50px;
}

/* in right side -> per-item-container */
.per-item-container{
    padding: 10px;
    position: relative;
    height: auto;
    width: 550px;
    margin: 15px 20px;
    background-color: black;
    box-shadow: 4px 0 8px -4px #e53d00, -4px 0 8px -4px #e53d00;
    border-radius: 5px;
}
/* item image container */
.per-item-image{
    height: 180px;
    width: 220px;
    background-color: #1ab188;
    border-radius: 3px;
}
/* item information container */
.per-item-info{
    top: 10px;
    right: 10px;
    position: absolute;
    height: 180px;
    width: 300px;
    /*background-color: #1ab188;*/
    border-radius: 3px;
    padding-top: 5px;
    box-shadow: 4px 0 6px -4px #e53d00, -4px 0 6px -4px #e53d00;
}
/* single image property in category view */
.single-img-tag{
    height: inherit;
    width:inherit;
    overflow: hidden;
    border-radius: inherit;
    border: 2px solid white;

}
/* single items p tag. every individual information fields of every item */
.per-item-info-p{
    width: 280px;
    margin: 1px auto;
    padding-left: 5px;
}

/* single item label tag */
.per-item-info-label{
    color: #eeeeee;
    font-weight: 900;
}

/* single item span tag */
.per-item-info-span{
    color: #eeefff;
    font-weight: 700;
    font-size: 12px;
}
/* button with default property */
.my-button{
    margin: 5px 10px 5px 5px;
    background-color: #e53d00;
    box-shadow: 4px 0 4px -4px #e53d00, -4px 0 4px -4px #e53d00;
    border: none;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    float: right;
    color: white;
    position: relative;
}
.my-button:hover{
    background-color: black;
    text-decoration: none;
    color: white;
}
/* cross icon */
.button-close{
    color: white;
}

/*-------------------- working with modal ---------------------------*/
.modal-background{
    background-color: black;
    border: 1px solid #e53d00;
    color: white;
}
.modal-per-item-info{
    width: 55%;
    margin-top: 5px;
}
.modal-header-border-color{
    border-bottom: 2px solid #e53d00;
}
.modal-footer-border-color{
    border-top: 2px solid #e53d00;
}
.modal-bid-input{
    color: black;
    font-weight: 400;
    padding: 3px;
    border-radius: 3px;
    border: none;
    margin-top: 5px;
}
.modal-button{
    padding-right: 15px;
    padding-left: 15px;
}
.modal-register{
    float: left;
    color: white;
    text-decoration: none;
}
.modal-register:hover{
    color: white;
    text-decoration: none;
}

/*------------------------------------ single item view page ------------------------------*/
.view-per-item-info{
    top: 10px;
    right: 10px;
    position: absolute;
    height: 180px;
    width: 300px;
    /*background-color: #1ab188;*/
    border-radius: 3px;
    padding-top: 5px;
}
.view-item-container{
    float: none;
    margin-top: 20px;
    margin-left: auto;
    margin-right:auto;
    margin-bottom: 20px;
    height:auto;
    position: relative;
}
.view-full-container-bottom-padding{
    padding-bottom: 30px;
}
.single-per-item-container{
    padding: 10px;
    position: relative;
    height: auto;
    width: 550px;
    margin: 0 auto;
    background-color: black;
    box-shadow: 4px 0 8px -4px #e53d00, -4px 0 8px -4px #e53d00;
    border-radius: 5px;
}
.single-per-item-image{
    height: 100%;
    width: 100%;
    /*background-color: #1ab188;*/
    border-radius: 3px;
    margin: 0 auto;
}
.single-view-per-item-info{
    padding-top: 10px;
    padding-right: 10px;
    height: auto;
    width: 400px;
    /*background-color: #1ab188;*/
    border-radius: 3px;
    position: relative;
    margin: 0 auto;
}
.single-img-container{
    height: auto;
    width: 400px;
    margin: 0 auto;
}
.single-item-bottom-buttons-div{
    bottom: 5px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 375px;
    position: absolute;
}
.single-item-buttons{
    position: relative;
}

/*----------------------------- edit image --------------------------------*/
.edit-image{
    height: auto;
    width: 100%;
    /*background-color: #1ab188;*/
    border: 2px solid white;
    border-radius: 3px;
}
.custom-form-boxshadow{
    box-shadow: 0 4px 10px 4px #e53d00;
}

/*------------------------------ register --------------------------------*/


/*-----------------------------  messages  --------------------------------*/
.custom-alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}
.custom-alert-info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}
.custom-alert-danger{
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}
.custom-alert-success{
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
.custom-alert-warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}

/*-------------------------- for slider ----------------------------*/


/*-------------------------- paginator container --------------------*/
/*
.paginator-container{
    height: auto;
    position: relative;
    background-color: red;

}*/
